@model  WebSalon.Models.ProgramareDataViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Programare</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Programare" asp-action="Index" method="get">
    <p>
        Nume Client: <input type="text" name="numeClient" />
        <select asp-for="pDataI" asp-items="Model.DateInceput">
            <option value="">Data Inceput</option>
        </select>
        <select asp-for="pDataF" asp-items="Model.DateFinala">
            <option value="">Data Final</option>
        </select>
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.programari[0].numeClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.programari[0].telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.programari[0].dataOra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.programari) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numeClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataOra)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgramareId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProgramareId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgramareId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
