@model IEnumerable<WebSalon.Models.Serviciu>

@{
    ViewData["Title"] = "Index";
}

<h1>Serviciu</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numeServiciu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pret)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numeServiciu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pret)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiciuId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiciuId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiciuId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
